<details open="" class="seven-details">
  <summary role="button" class="seven-details__summary">
    {{ title }}
  </summary>
  <div class="details-wrapper seven-details__wrapper">
    <div class="contextual-region">
      <div class="field field--type-string field--label-inline">
        <div class="field__label">Transaction code</div>
        <div class="field__item">{{ transactionCode }}</div>
      </div>

      <div class="field field--type-string field--label-inline">
        <div class="field__label">Order code</div>
        <div class="field__item">{{ orderCode }}</div>
      </div>

      <div class="field field--type-string field--label-inline">
        <div class="field__label">Message</div>
        <div class="field__item">{{ message }}</div>
      </div>

      <div class="field field--type-string field--label-inline">
        <div class="field__label">Bank code</div>
        <div class="field__item">{{ bankCode }}</div>
      </div>

      <div class="field field--type-string field--label-inline">
        <div class="field__label">Bank name</div>
        <div class="field__item">{{ bankName }}</div>
      </div>

      <div class="field field--type-string field--label-inline">
        <div class="field__label">Method</div>
        <div class="field__item">{{ method }}</div>
      </div>

      <div class="field field--type-string field--label-inline">
        <div class="field__label">Transaction time</div>
        <div class="field__item">{{ transactionTime }}</div>
      </div>

      <div class="field field--type-string field--label-inline">
        <div class="field__label">Success time</div>
        <div class="field__item">{{ successTime }}</div>
      </div>

      {#<div class="field field--type-string field--label-inline">#}
        {#<div class="field__label">Reason</div>#}
        {#<div class="field__item">{{ reason }}</div>#}
      {#</div>#}
    </div>

  </div>
</details>